body{
    color: #777777;
    background-image: url("../images/so-white.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* NAV BUTTONS */
.nav-link, .nav-link:hover, .button, .button:hover{
    color: #999999;
    text-decoration: none;
    line-height: 1;
}

.lh-2{
    line-height: 2;
}

.text-hippieblue{
    color: #4aaaa5;
}

.bg-hippieblue{
    background-color: #4aaaa5;
}

.title-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

/* COPYRIGHT TEXT IN FOOTER */
#copyright{
    font-size: 10px;
    color: #cccccc;
}

footer{
    background-color: #666666;
    height: 45px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
}

/* BOTTOM BORDER FOR TOP HEADER */
.head-border{
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
}

.main-border{
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.title-border{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #cccccc;
}

.portfolio-image-label{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.portfolio-image-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
    text-decoration: none;
    margin: 0;
}

/* FORM */
input[type=text], select, textarea {
    color: #555555;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 14px;
}

/* MESSAGE INPUT AREA FOR FORM */
textarea {
    height: 200px;
    margin-bottom: -4px;
}

/* SUBMIT BUTTON FOR FORM */
input[type=submit]{
    background-color: #4aaaa5;
    color: white;
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin: 15px 0 0 0;
    border: none;
}

/* BIG BOTTOM MARGIN */
.mb-big{
    margin-bottom: 70px;
}